$whitesmoke-A60: RGBA(245, 245, 245, 0.6);
$pandas-bluegrey-base: #bdc3c8;
$pandas-orangeyellow-base: #eda832;
$pandas-novablue-base: #006d9a;
$pandas-darkteal-25: #0e373f;
$pandas-dustyblue-base: #82969b;