footer {
  width: 100%;
  //color: $whitesmoke-A60;
  padding: 8px 0 8px 0 !important;
  
  p {
    margin: 0;
  }

  .footer-icon {
    margin-left: 1em;
    color: $whitesmoke-A60;
  }

  a:hover {
    color: $pandas-dustyblue-base !important;
  }
}
